<!-- Sobre mí -->
<section class="sobreMi" id="sobreMi">
    <h1 data-section="sobre-mi" data-value="title" data-aos="fade-up">Sobre mí</h1>

    <div class="container_content-sobreMi" data-aos="fade-right">
        <div class="container_texto-sobreMi">
            <span class="title_sobreMi">Jader Montoya</span>
            <span class="texto_sobreMi" data-section="sobre-mi" data-value="texto_sobreMi">
                Soy una persona que se caracteriza por ser honesta, reservada y puntual en todo momento.
                Me considero una persona ágil, capaz de adaptarme a cambios y responder rápidamente ante
                situaciones imprevistas. <br><br> Soy muy respetuoso y valoro la diversidad de opiniones y puntos
                de vista. Me considero muy responsable y comprometido en todo lo que hago, especialmente
                en mi trabajo y estudios. Tengo una fuerte dedicación al aprendizaje y me gusta estar
                siempre actualizado. Busco constantemente oportunidades para mejorar mis habilidades y
                conocimientos en el área del desarrollo, y estoy dispuesto a esforzarme al máximo para
                alcanzar mis metas y objetivos.<br>
            </span>
        </div>

        <picture class="container_image-sobreMi">
            <img class="image_sobreMi" src="assets/img-principal.jpg" alt="img-principal">
        </picture>
    </div>
</section>